*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 30%;
  float: left;
  padding-right: 20px;


}

figure {
  margin: 0;
}

.film {
  width: 50%;
  margin: 40px auto;
  border: 3px solid #b8b8b8;
  width: 60%;
  padding: 20px;
  overflow: hidden;
  position: relative;

}

.action-watch-later {
  position:absolute;
  right: 780px;
  top: 30px;
  color: red;
}

.action-like {
  position:absolute;
  left: 982px;
  bottom: 32px;
  color: red;
}
